{% extends "layout.html" %} {% block content %}
<nav>
  <h1 class="mt-4">
    Luis L
    <!-- <a class="rss" href="/feed.xml" target="_blank" title="RSS feed"
      ><i class="fas fa-rss"></i
    ></a> -->
  </h1>
  <p>
    CS Student <br>
    I like ham radio, music and mostly low level programming.
  </p>
  <div class="things-container">
    <div class="col">
      <h2>Projects</h2>
      <ul class="posts-list">
        {% for post in projects if not post.get('hidden') %}
        <li>
          <time>{{post['date'].strftime('%Y-%m-%d')}}</time>
          &mdash;
          <a href="/{{post.stem}}"> {{post.title}} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h2>Snippets</h2>
      <ul class="posts-list">
        {% for post in snippets if not post.get('hidden') %}
        <li>
          <time>{{post['date'].strftime('%Y-%m-%d')}}</time>
          &mdash;
          <a href="/{{post.stem}}"> {{post.title}} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
